{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password Done{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3" style="background-color:green; color:white;">
       <h4 class="text-center">Well done</h4>
      <p>An Email has benn sent with instruction to reset your password.<b>Check Your Email</b></p>
      <div>

      </div>
      <br>
      <br>
      <br>
  </div>
 </div>
</div>
{% endblock main-content %}